{% load hello_tags %}
<!--Template tags flolder should always be templatetags-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>hello</title>
</head>
<body>
    <h1>{{name|lower}} and my name is {{name|count}} words.<!--using django filter-->
    </h1>
    <p>Fame level:0</p> <!--make first letter capital-->
    <!---load custom tag method name-->
   <p>{% show_details 4 %}</p> <!-- show 4 posts -->
</body>
</html>

